body{
    background-image: url("https://w0.peakpx.com/wallpaper/736/847/HD-wallpaper-anime-virtual-youtuber-kobo-kanaeru-hololive-thumbnail.jpg");

}

.card{
    width:700px;
    padding:40px 30px;
    background:rgb(56, 225, 225);
    margin:auto;
    border:1px solid #fff;
    position: absolute;
    left: 0;
    right: 0;
    top:10%
}